@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: local('Arial'), local('ArialMT'),
        url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.eot');
    src: local('Arial Bold'), local('Arial-BoldMT'),
        url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff'),
        url('Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff'),
        url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Regular.eot');
    src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
        url('BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular.woff') format('woff'),
        url('BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}