@import url("../fonts/fonts.css");
@import url("./reset.css");

:root {
    --color-1: #fff;
    --color-2: #27374D;
    --color-3: #000;
    --color-4: #57677E;
    --color-5: #9F9F9F;
    --color-6: #B0B8C4;
    --color-7: rgba(40, 56, 78, 0.70);

    --font-1: "Arial";
    --font-2: "Barlow Condensed";
    --font-3: "Inter";
}

body {
    font-family: var(--font-1);
}

*[class*="__container"] {
    position: relative;
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*[class*="__wrapper"] {
    max-width: 1488px;
    margin-inline: auto;
    padding-inline: 1rem;
    position: relative;
    z-index: 1;
}

*[class*="--bg-dark-filter"]::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #151a2ea0;
    position: absolute;
    inset: 0;
    /* z-index: 1; */
}

*[class*="--bg-light-filter"]::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #fff;
    position: absolute;
    inset: 0;
    /* z-index: 1; */
    opacity: .8;
}


h1,
h2,
h3,
h4,
p {
    text-align: inherit;
    font-family: var(--font-1);
    font-style: normal;
    line-height: normal;
}

h1 {
    color: var(--color-1);
    font-size: 104px;
    font-weight: 700;
}

h2 {
    color: var(--color-2);
    font-size: 60px;
    font-weight: 700;
}

h3 {
    color: var(--color-2);
    font-size: 50px;
    font-weight: 700;
}

h4 {
    color: var(--color-2);
    font-size: 40px;
    font-weight: 700;
}

p {
    color: var(--color-2);
    font-size: 26px;
    font-weight: 400;
}

button,
.button {
    padding: 15px 71px;
    color: var(--color-2);
    background: linear-gradient(90deg, var(--color-2) 33%, var(--color-1) 66%);
    background-size: 300% 100%;
    background-position: right;
    font-family: var(--font-1);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    border-radius: 30px;
    cursor: pointer;
    transition: background .4s ease, color .2s ease;
}

button:hover,
.button:hover {
    color: var(--color-1);
    background-position: left;
}

b {
    font-weight: 700;
}

@media(max-width: 756px) {
    h1 {
        color: var(--color-1);
        font-size: 52px;
        font-weight: 700;
    }

    h2 {
        color: var(--color-2);
        font-size: 42px;
        font-weight: 700;
    }

    h3 {
        color: var(--color-2);
        font-size: 32px;
        font-weight: 700;
    }

    h4 {
        color: var(--color-2);
        font-size: 22px;
        font-weight: 700;
    }

    p {
        color: var(--color-2);
        font-size: 16px;
        font-weight: 400;
    }
}