@import url("../fonts/fonts.css");
@import url("./reset.css");

:root {
    --color-1: #fff;
    --color-2: #27374D;
    --color-3: #000;
    --color-4: #57677E;
    --color-5: #9F9F9F;
}

body {
    font-family: "Arial";
}

*[class*="__wrapper"] {
    max-width: 85.5rem;
    margin-inline: auto;
    padding-inline: 1rem;
}